*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-image: url(download.jfif);
    background-repeat: no-repeat;
    background-size: cover;
   
   
}
nav{
    background-color: white;
    box-shadow: 3px 3px 5px ;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
nav li{
    height:50px;
}
nav a{
    height:20%;
    text-decoration: none;
    list-style: none;
    padding:20px;
    display: flex;
   
    justify-content: center;
    color: black;
}
nav a:hover{
    background-color: green;
    
}